name: Auto-Generate Connector

on:
  repository_dispatch:
    types: [openapi-update]

jobs:
  call_workflow:
    name: Run Auto-Generate Connector Workflow
    if: ${{ github.repository_owner == 'ballerina-library-test' }}
    uses: ballerina-library-test/ballerina-library/.github/workflows/auto_generate_connector_template.yml@connector-automation
    secrets: inherit
    with:
      openapi-url: ${{ github.event.client_payload.openapi_url }}
      ballerina-version: "2201.10.0"
      distribution-zip: ""
      license-file: "license.txt"
      quiet-mode: true
